// Spring Fling by "napkin guy":
// https://www.colourlovers.com/palette/4612604/spring_fling

$color_beige: #FFE1C4;
$color_orange: #FFB281;
$color_salmon: #FF736C;
$color_wine: #8D6476;
$color_brown: #C6AB8E;

$scheme1_1: $color_beige;
$scheme1_2: $color_orange;
$scheme1_3: $color_salmon;
$scheme1_4: $color_wine;
$scheme1_5: $color_brown;



// Adrift in Dreams by Skyblue2u
// https://www.colourlovers.com/palette/580974/Adrift_in_Dreams

$scheme2_1: #CFF09E;
$scheme2_2: #A8DBA8;
$scheme2_3: #79BD9A;
$scheme2_4: #3B8686;
$scheme2_5: #0B486B;
