// Spring Fling by "napkin guy": https://www.colourlovers.com/palette/4612604/spring_fling

$color_beige: #FFE1C4;
$color_orange: #FFB281;
$color_salmon: #FF736C;
$color_wine: #8D6476;
$color_brown: #C6AB8E;

$scheme1_1: $color_beige;
$scheme1_2: $color_orange;
$scheme1_3: $color_salmon;
$scheme1_4: $color_wine;
$scheme1_5: $color_brown;
